@media (max-width: 1024px) and (min-width: 900px ) {
   /* --NAV- INICIO-- */
   
   nav .nav-options ul {
    /* border: 2px solid magenta;  */
    left: 53%;
    width: 45%;
    font-size: 1.3rem;
    }

    /* --MAIN--BANNER */

    main {
        width: 100%;
        /* border: 2px solid darkblue; */
    }

    .main-doctor-container .main-backgroundimg {
        background-size: cover;
        background-position: center;
    }

    .main-doctor-container .main-backgroundimg .main-doctor--title {
        position: absolute;
        top: 55%;
    }

    .main-doctor-container .main-backgroundimg .main-doctor--title h1 {
        font-size: 3.2rem;
    }

    .main-doctor-container .main-backgroundimg .main-doctor--title p {
        font-size: 1.3rem;
    }

    .main-doctor-container .main-backgroundimg .main-doctor--title a {
        font-size: 2.5rem;
    }

    /* --Especialidades--Teledoc */

    .main-especialidades-container .main-especialidad--title h2 {
        position: absolute;
        left: 23%;
    }

    .main-especialidades-container .main-slide {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        left: 18%;
        position: absolute;
        top: 5%;
    }

    /* Beneficios de una consulta online -- TELEDOC */

    .main-beneficios-container .main-beneficios--title {
        font-size: 1.8rem;
    }

    .main-beneficios-container .main-beneficios-slide {
        left: 3.7%;
    }

    .main-beneficios-container .main-beneficios-slide .beneficios-slide--container .beneficios--slide--text .main-slide-button {
        top: 205px;
    }

    /* TELEBLOG--SALUD */

    .main-teleblog-container .main-teleblog--title {
        width: 45%;
        /* border: 2px solid brown; */
    }

    .main-teleblog-container .main-teleblog-slide {
        left: 1%;
    }

    .main-teleblog-container .main-teleblog-slide .main-slide-container .main-slide-text h3 {
        font-size: 1.8rem;
        line-height: 2.0rem;
    }

    .main-teleblog-container .main-teleblog-slide .main-slide-container .main-slide-text p {
        font-size: 1.5rem;
    }
    .main-teleblog-container .main-teleblog-slide .main-slide-container .main-slide-text .main-slide-button {
        left: 30%;
    }

    /* --FOOTER-- */

    .footer-container .footer-container--button {
        /* border: 2px solid magenta; */
        width: 20%;
        left: 70%;
        top: -5%;
    }
    .footer-container .footer-bottom {
        left: 23%;
    }
    
    .footer-container .footer-bottom p {
        font-size: 1.5rem;
    }

    .footer-container .footer-list {
        left: 10%;
    }

    .footer-container .footer-list ul li {
        font-size: 1.8rem;
    }
}